<h1>Search The Marvel Database</h1>
<form action="/search_results">
  <p>Enter Name(Full or partial)</p>
  <input type="text" name="user_search">
  <input type="hidden" name="user_id" value=<%= session[:user].id %>>
  <input type="submit" value="Submit">
</form>