<h1> Your Wishlist---------<a href="/all_wishlists">All Wishlists</a></h1>
<h3>Currently offering: <%= @wishlist.offer %>
<form action="/add_offer">
  Put a new Character up for trade.
  <select name="name">
    <% @your_chars.each do |char| %>
    <option value="<%= char.name %>"><%= char.name %></option>
    <%end  %>
    <option value="">No Offer</option>
  </select>
  <input type="submit" value="Submit">
</form>

<% @chars_on_wishlist.each do |char| %>
<%= partial(:"wishlist/wishlist_display", :char => char) %>
<% end %>
