<!DOCTYPE html>
<html>

  <head>
    <title>!F_M_L!</title>
 <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  
  <body>
    <nav>
      <ul class="navlinks">
     <li> <a href="javascript:history.back()">Back</a></li>
     <hr>
     <li> <a href="/user/profile">Your Profile</a></li>
     <hr>
     <li> <a href="/characters">Characters</a></li>
     <hr>
     <li> <a href="/teams">Teams</a></li>
     <hr>
     <li> <a href="/wishlist">Wishlist</a></li>
     <hr>
     <li> <a href="/search">Search</a></li>
     <hr>
     <li> <a href="/your_messages">Messages</a></li>
     <hr>
     <li> <a href="/logout">Logout</a></li>
     </ul>
    </nav>
    <p class="profile"> <img src="<%= session[:user].image %>" height="120" width="120"</p>
      <%= session[:user].name %>
      
    
    <%= yield %>
  </body>
</html>