body{
  text-align:center;
}
nav {
  position:fixed;
  top:0;
  bottom:0;
  text-align:left;
  line-height: 30px;
  width: 120px;
  float: left;
  padding: 5px;
  background-color: #990000;  
  font-weight: bold;
  font-size:15px;
}

ul.navlinks {
   padding:20px;
}

div.usersetup {
  text-align:center;
}

div.confirm_user_creation {
  text-align:center;
}

a {
  color: #000066;
}

p.profile {
  position:fixed;
  right:15px;
  text-align:center;
  font-weight:bold;
  float: right;
  background-color: blue;
  line-height: 30px;
  height: 150px;
  width: 120px;
  padding: 5px;
}
body {
  background-color:#CC0000;
}

div.login {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  float:center;
}

h1, h2, h3{
  text-align:center;
}

div.userinfo {
  text-align:center;
  image-align:center;
}

form.search{
  text-align:center;
}

div.search_result, .char_display, .team_display, .wishlist_char{
  margin-left:auto;
  margin-right:auto;
  width:400px;
  text-align:center;
  margin-bottom:30px;
  border:solid black 2px;
  padding-bottom: 10px;
}
table{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
