<h1><a href="/wishlist">Your Teams</a>---------All Teams</h1>
<% @users.each do |user|  %>
  <h2><%= user.name %></h2>
  <% all_teams(user.id).each do |team| %>
    <h3><a href="/team_details?id=<%= team.id %>"><%= team.name %></a></h3>
    <%= team.list_chars_in_team("all") %>
  <%end  %>
<% end  %>