<h1>The following Team will be deleted: "<%= @team.name %>". All characters on the team will be returned to your unassigned characters roster, proceed?</h1>
<h3><a href="/confirm_delete_team?id=<%= @team.id %>">Yes</a>------<a href="/teams">No</a></h3>
  