<h2>Enter New Name:</h2>
<form action="/confirm_team_edit">
  <input type="hidden" name="id" value="<%= @team.id %>">
  <input type="text" name="name" value="<%= @team.name %>">
  <input type="submit" value="Submit">
</form>