<h1> Your Teams---------<a href="/all_teams">All Teams</a></h1>

<h4><a href="/create_team">Create New Team</a></h4>
  
<%@teams.each do |team|  %>
<%= partial(:"team/team_display", :team => team) %>
<% end %>