<h1> User Setup</h1>
<% if @new_user  %>
  <% @new_user.error_check.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end  %>
<div class="usersetup">
<form action="/user/confirm_creation" method="post">
  Enter User Name
  <input type="text" name="name" required><br>
  Enter Password
  <input type="text" name="password" required><br>
  Paste Avatar Picture URL
  <input type="text" name="image"><br>
  <input type="submit" value="Submit">
</form>
</div>
  