<h1> User Setup</h1>
<div class="usersetup">
<form action="/confirm_creation">
  Enter User Name
  <input type="text" name="name"><br>
  Enter Password
  <input type="text" name="password"><br>
  Paste Avatar Picture URL
  <input type="text" name="image"><br>
  <input type="submit" value="Submit">
</form>
</div>
  