<h1> User Setup</h1>
<br>
<br>
<form action="/confirm_creation">
  Enter User Name
  <input type="text" name="name">
  Enter Password
  <input type="text" name="password">
  <input type="submit" value="Submit">
</form>
  