<h1><%= session[:user].name %></h1>
<h2> Password: <%= session[:user].password %></h2>
<img src="<%= session[:user].image %>" height="200" width="300">
<a href="/edit_profile">Edit Profile</a>
<a href="/delete_profile">Delete Profile</a>

<% if @unviewed_messages == []  %>
  <h3> No new messages</h3>
<% else %> 
  <% @unviewed_messages.each do |message|  %>
    <%= partial(:"message/message_display", :message => message) %>
    <% message.mark_as_viewed  %>
  <% end  %>
<% end %>