<h1>Your Messages</h1>

<% if @messages == []  %>
  <h3> No messages</h3>
<% else %> 
  <% @messages.each do |message|  %>
    <%= partial(:"message/message_display", :message => message) %>
  <% end  %>
<% end %>