<h1>Your Messages</h1>
<form action="/new_message">
  <label for="id">Send To:</label>
  <select name="id">
  <%User.all("users").each do |user|  %>
    <% if user.id != session[:user].id  %>
      <option value="<%= user.id %>"><%= user.name %></option> 
    <% end  %>
  <% end %>
  </select>
  <input type="submit" value="New Message">
</form>
  

<% if @messages == []  %>
  <h3> No messages</h3>
<% else %> 
  <% @messages.each do |message|  %>
    <%= partial(:"message/message_display", :message => message) %>
  <% end  %>
<% end %>